div.buildingDiv{
	float: left;
	width: 600px;
	height: 400px;
	overflow: auto;
}

button.building{
    width: 75px;
    height: 75px;
    display: inline-block;
    margin: 5px;
    background-size: 75px 75px;
    background-color: transparent;
    border: 0px solid black;
}

button.building.warehouse{
    background-image: url("../Images/Buildings/warehouse.png");
}
button.building.house{
    background-image: url("../Images/Buildings/house.png");
}
button.building.woodcutter{
    background-image: url("../Images/Buildings/woodcutter.png");
}
button.building.fishermansHouse{
     background-image: url("../Images/Buildings/Fishermans_hut.png");
}
button.building.hempPlantation{
    background-image: url("../Images/Buildings/Hemp_plantation.png");
}
button.building.weaversHat{
    background-image: url("../Images/Buildings/Weavers_hut.png");
}